<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hugh.basis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".HughApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--顺便加上这个服务，tinker自带的-->
        <service android:name="com.tencent.tinker.lib.service.DefaultTinkerResultService" />
        <activity
            android:name=".SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process=":remote" />
        <activity
            android:name=".ThirdActivity"
            android:configChanges="screenLayout"
            />
        <activity android:name=".ReceiveActivity"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity
            android:name=".animate.AnimationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard" />
        <activity
            android:name=".activities.FragmentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard" />
        <service android:name=".services.TestOneService"/>
        <service android:name=".services.TestTwoService"/>
        <activity android:name=".activities.BindServiceActivity"/>
        <activity android:name=".activities.ListActivity"/>
        <activity android:name=".eventbus.EventActivity1"/>
        <activity android:name=".eventbus.EventActivity2"/>
        <activity android:name=".ijkplayer.PlayActivity"/>
        <activity android:name=".webView.WebViewActivity"/>
        <activity android:name=".MediaPlay.MediaPlayActivity"/>
        <activity android:name=".videoView.VideoViewActivity"/>
        <activity android:name=".retrofit.RetrofitActivity"/>
        <activity android:name=".timer.TimerActivity"/>
        <activity android:name=".viewpager.ViewPagerActivity"/>
        <activity android:name=".activities.ListTimeActivity"/>
        <activity android:name=".activities.TestLayoutActivity"/>
        <activity android:name=".dialog.DialogShowActivity"/>
        <activity android:name=".constraintlayout.ConstraintLayoutActivity"/>
        <activity android:name=".rvlooper.LooperActivity"/>
        <activity android:name=".footer.HeaderAndFooterActivity"/>
        <activity android:name=".activities.TransParentActivity"
            android:theme="@style/dialog_activity"
            />
        <activity android:name=".leakcanary.LeakActivity"/>
        <activity android:name=".exoplayer.ExoPlayerActivity"/>
        <activity android:name=".record.RecordActivity"/>
        <activity android:name=".highOrderUI.UiActivity"/>
        <activity android:name=".hook.HookTestActivity"/>
        <activity android:name=".thread.ThreadTestAcitivity"/>
        <activity android:name=".puzzleGame.PuzzleActivity"/>
        <activity android:name=".animate.AnimatorActivity"/>
        <activity android:name=".eyeshield.EyeProtectActivity"/>
        <activity android:name=".eysshieldv2.EyeProtectReActivity"
            android:screenOrientation="landscape"/>
    </application>



</manifest>