<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hugh.basis">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:name=".HughApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process=":remote" />
        <activity
            android:name=".ThirdActivity"
            android:configChanges="screenLayout"
            />
        <activity android:name=".ReceiveActivity"
            android:configChanges="orientation|keyboardHidden"
            />
        <activity
            android:name=".AnimationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard" />
        <activity
            android:name=".activities.FragmentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard" />
        <service android:name=".services.TestOneService"/>
        <service android:name=".services.TestTwoService"/>
        <activity android:name=".activities.BindServiceActivity"/>
        <activity android:name=".activities.ListActivity"/>
        <activity android:name=".eventbus.EventActivity1"/>
        <activity android:name=".eventbus.EventActivity2"/>
        <activity android:name=".ijkplayer.PlayActivity"/>
        <activity android:name=".webView.WebViewActivity"/>
        <activity android:name=".MediaPlay.MediaPlayActivity"/>
        <activity android:name=".videoView.VideoViewActivity"/>
        <activity android:name=".retrofit.RetrofitActivity"/>
        <activity android:name=".timer.TimerActivity"/>
        <activity android:name=".viewpager.ViewPagerActivity"/>
        <activity android:name=".activities.ListTimeActivity"/>
        <activity android:name=".activities.TestLayoutActivity"/>
    </application>

</manifest>